@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ced4da;
    font-family: 'Pretendard-Regular';
}

#jaemok{
    text-align: center;
    font-family: 'LOTTERIACHAB';
    font-size: 42px;
}

#jaemok:hover{
    color: #7e6a6a;
    transition: color 0.5s ease, transform 0.5s ease; 
}

#naeyong{
    color:rgb(157, 151, 163);
}

#career{
    color:rgb(157, 151, 163);
    
}

#career li:hover{
    background-color: #ffc0cb;
    transform: scale(1.031);
    transition: color 0.3s ease, transform 0.5s ease; 
}

#family{
    color:rgb(157, 151, 163);
}

#techy{
    color:rgb(157, 151, 163);
    
}

#philosophy{
    color:rgb(157, 151, 163);
    
}

#site {
    color:rgb(157, 151, 163);
}

#timetable table {
    width: 50px; 
    max-width: 1200px; 
    height: 300px; 
}

#timetable td {
    border: 1px solid black; 
    height: 10px; 
    text-align: center; 
    vertical-align: middle; 
    width: 80px;
}

#tablecolor:hover{
    background-color: lightgoldenrodyellow;
}

.time-column {
    width: 150px; 
}

.time {
    background-color : #ffc0cb;
}

.date {
    background-color : #FEFD48;
}


footer {
    text-align: center; /* 중앙 정렬 */
    padding: 10px; /* 패딩 추가 */
    position: relative; /* 위치 설정 */
    bottom: 0; /* 하단 고정 */
    width: 100%; /* 폭 100% */
}

#tomenu{
    text-align: right;
}

.menu-button {
    color: white; 
    text-decoration: none; 
    margin: 10px 0; 
}


ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

ul a {
    text-decoration: none; 
    color: gray; 
    padding: 3px; 
    transition: color 0.3s ease, transform 0.5s ease; 
    display: inline-block; /* 이거 때문에 작동 안했음*/
}

ul a:hover {
    color: black; /* 호버 시 글자 색상 변경 */
    transform: scale(1.1); 
    transition-duration: 0.5s; /* 전환 시간 */
}



#yearnum:hover {
    color: Blue; /* 호버 시 글자 색상 변경 */
    transform: scale(1.4); 
    transition-duration: 0.5s;
}

#yearnum {
    font-size: 30px;
    color:#495057 ;
    font-weight: bold;
}

#where {
    font-size: 0.7em;
    color: rgb(105,105,105);
}

#photo {
        background-size : 250px 250px;
        background-image : url("/img/familyphoto.png");
        background-repeat : no-repeat;
        background-position : center center;
        width : 250px;
        height : 250px;
        color : rgb(25, 13, 36);
        font-size : 16px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow:inset 20px 20px 20px 20px rgba(100,100,100,100);
        box-shadow:inset 20px 20px 20px 20px rgba(100,100,100,100);
}

#photo:hover {
    position : relative;
    left: 20px;
    bottom: 20px;
}

#photo1 {
    background-size : 250px 250px;
    background-image : url("/img/familyphoto2.png");
    background-repeat : no-repeat;
    background-position : center center;
    width : 250px;
    height : 250px;
    color : rgb(25, 13, 36);
    font-size : 16px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow:inset 0 0 10px 2px #33FF70;
    box-shadow:inset 0 0 10px 2px #33FF70;
}

#photo1:hover {
    position : relative;
    left: 20px;
    bottom: 20px;
}

#photo2 {
    background-size : 250px 250px;
    background-image : url("/img/familyphoto.png");
    background-repeat : no-repeat;
    background-position : center center;
    width : 250px;
    height : 250px;
    color : rgb(25, 13, 36);
    font-size : 16px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow:inset 100px 20px 10px 10px #FF6363;
    box-shadow:inset 10px 20px 10px 10px #FF6363;
}

#photo2:hover {
    position : relative;
    left: 20px;
    bottom: 20px;
}

#photo3 {
    position:absolute;
    z-index: -3; left: 400px; top: 1150px;
    border: dotted darkcyan;
}

#photo4 {
    position:absolute;
    z-index: 2; left: 440px; top: 1180px;
    border: dotted violet;
}

#photo5 {
    position:absolute;
    z-index: 4; left: 480px; top: 1220px;
    border: dotted deeppink;
}

#photo6 {
    position:absolute;
    z-index: 6; left: 520px; top: 1260px;
    border: dotted black;
}

#texteffectnum {
    text-shadow: 0px 0px 3px darkblue;
    text-align: center;
}

#photoinline {
    display: inline-block;
    border: 2px dotted orangered;
    background-image: url("/img/father.png");
    margin : 5px;
    width: 204px; height: 192px;
    
}

#photoinline h3{
    text-align: center;
}

#photoinlinesub:hover {
    position: relative;
    left: 20px;
    top: 20px;
}

#absolute {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#absolute img {
    width: 200px;
    height: 200px;
}

#float {
    float: left;
    border: 1px dotted #FF6363;
    width: 8em;
    padding: 0.25em;
    margin: 1em;
}