@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ced4da;
    font-family: 'SF_HambakSnow';
}

#jaemok{
    text-align: center;
    
}



#naeyong{
    color:rgb(157, 151, 163);
}

#career{
    color:rgb(157, 151, 163);
    
}

#career li:hover{
    background-color:yellow;
    transform: scale(1.1);
}

#family{
    color:rgb(157, 151, 163);
    
}

#techy{
    color:rgb(157, 151, 163);
    
}

#philosophy{
    color:rgb(157, 151, 163);
    
}

#site {
    color:rgb(157, 151, 163);
}

table {
    width: 50px; 
    max-width: 1200px; 
    height: 300px; 
}

td {
    border: 1px solid black; 
    height: 10px; 
    text-align: center; 
    vertical-align: middle; 
    width: 80px;
}

.time-column {
    width: 150px; 
}

footer {
    text-align: center; /* 중앙 정렬 */
    padding: 10px; /* 패딩 추가 */
    position: relative; /* 위치 설정 */
    bottom: 0; /* 하단 고정 */
    width: 100%; /* 폭 100% */
}

#tomenu{
    text-align: right;
}
.menu-button {
    color: white; 
    text-decoration: none; 
    margin: 10px 0; 
}


ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

ul a {
    text-decoration: none; 
    color: gray; 
    padding: 3px; 
    transition: color 0.3s ease, transform 0.5s ease; 
    display: inline-block; /* 이거 때문에 작동 안했음*/
}

ul a:hover {
    color: black; /* 호버 시 글자 색상 변경 */
    transform: scale(1.1); 
    transition-duration: 0.5s; /* 전환 시간 */
}



#yearnum:hover {
    color: Blue; /* 호버 시 글자 색상 변경 */
    transform: scale(1.4); 
    transition-duration: 0.5s;
}

#yearnum {
    font-size: 30px;
    color:#495057 ;
}
